<div style="width:620px; font-family: Helvetica;">
    <div style="height: 80px; background:rgb(0, 25, 51); ">
        <img src="https://cdn01.moecube.com/accounts/static/MoeCube.21b37941.png" style="height: 50px; margin:15px 20px; "/>
    </div>
    <div>
        <div style="width:560px; font-size: 15px;line-height: 1.2; margin: auto; padding: 30px 0;  ">
            <div>萌萌的{{username}} <br/> <br/>
                您好！<br/>
                您收到这封邮件是因为有人希望在“萌立方MoeCube平台”使用此邮箱作为联系方式。<br/>
                <ul>
                    <li>如果这不是您的操作，您不需要做任何事，您的邮箱不会生效。</li>
                    <li>如果这是您的操作，感谢您注册萌立方同人游戏平台，你需要通过点击以下按钮链接，在打开的新页面完成邮箱验证操作。</li>                    
                </ul>
                邮箱验证链接：<br/><br/>                
                <a href="{{url}}" style="text-decoration:none; font-size: 16px; padding: 10px; color:white; background:rgb(61, 139, 205); border-radius: 10px; ">点击这里验证邮箱</a><br/><br/>      
                如果按钮无效，也可以复制以下链接到浏览器地址栏访问：<br/>
                {{url}}<br/><br/><br/>               
                完成后您就可以在萌立方平台客户端使用此邮箱登陆了。<br/><br/>              
                萌立方感谢有你,<br/>
                MoeCube开发团队<br/>
            </div>
        </div>
    </div>
    <div style="height:220px; width:620px; background:rgb(0, 25, 51); color: white; font-size: 13px; display:table; ">
        <div style=" vertical-align:middle; display:table-cell; text-align:center;">
            <img src="https://cdn01.moecube.com/accounts/static/MoeCube.21b37941.png" style="height: 50px; width:162.5px;"/>
            {{!--<div style="height:40px; line-height:40px; ">广告为招租</div>--}}
            <div style="">
                <div>萌立方 <a style="text-decoration:none; color:rgb(153 , 204 , 255)" href="https://www.moecube.com">www.moecube.com</a></div>
                <div>联系我们：<a style="text-decoration:none; color:rgb(153 , 204 , 255)" href="mailto:admin@moecube.com">admin@moecube.com</a></div>
                <div>这是一封系统自动发送的邮件，请勿回复</div>
            </div>
        </div>
    </div>
</div>